data/
models/custom_cnn.keras
models/inception_resnet_v2.keras
models/nesnet_a_large.pt
models/resnet50.pt
results.csv
runs.zip
test.ipynb
test.zip
training.zip
validation.zip
viral-rash-modified-dataset.zip
YOLO_Accuracy.png
YOLO_Confusion_Matrix.png
03configure-postgresql.ipynb
apps/deployment/persistent-volume-claim.yaml
apps/deployment/postgres-statefulset.yaml
apps/image-classifier-app/python-models/.env
apps/image-classifier-app/frontend/.env
apps/image-classifier-app/python-models/venv